/* FONTS BEGIN */
$font-1: "Helvetica", sans-serif;

/* FONTS END */

/* COLORS BEGIN */
$landing-bg-color: #fff;
$landing-text-color: #000;
$landing-secondary-text-color: #a1a4ac;
$landing-title-color: #1c1f28;
$landing-subtitle-color: #7a7c82;

$black: #1c1f28;
$green: #14b45c;
$light-green: #16C364;
$red: #d0021b;
$disabled-text-color: #a1a4ac;
$disabled-color: #e1e4f0;
$secondary-text-color: #a1a4ac;

$input-border-color: #55b4f9;
$placeholder-color: #5c6069;

/* COLORS END */

/* SIZES BEGIN*/
$landing-header-height: rem(145);
$landing-footer-height: rem(248);
$landing-block-width: rem(1440);

$cabinet-header-height: rem(95);

$modal-width-lg: rem(1230);

/* SIZES END */

/* MEDIA QUERIES BEGIN */

/* MEDIA QUERIES END */
